body {
  font-family: sans-serif;
  margin: 0;
}
.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}
.column {
  background: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
button {
  background-color: blue;
  margin: 10px;
  color: #ffffff;
  border-radius: 10px;
  padding: 3px;
}
