* {
  font-family: "Inter", sans-serif;
}

/* General Formatiing */
h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2cm;
  margin-bottom: 0.2cm 0.2cm;
  text-transform: uppercase;
}

/* Layout */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left-sidebar {
  margin-top: 0;
  width: 30%;
  background-color: #484444;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-area {
  width: 70%;
  padding: 20px;
  letter-spacing: 0.55px;
  font-size: 16px;
  line-height: 28px;
}

/* sidebar styles */
.sidebar-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.profile {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}

.iconBox {
  width: 20px;
}

.item {
  padding: 6px 0;
}

.seperator {
  border-bottom: 0.05cm solid white;
}

.left-sidebar,
.left-sidebar a {
  color: #ebe4e4;
  text-decoration: none;
}
/* aboutMe */
.mobile-name {
  display: none;
}
.aboutMe p {
  color: #4e4c4c;
  text-align: justify;
  padding: 10px;
}

.aboutMe h2 {
  padding: 20px 0;
}
/* Skills */
.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 0;
}

/* workHistory */
.workHistory h2 {
  margin-top: 40px;
  text-align: justify;
  padding: 20px 0;
}
.workHistory > ul {
  color: #4e4c4c;
}
.workHistory > ul > li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* spacing */
.py-10 {
  padding: 10px 0;
}

.my-10 {
  margin: 10px 0;
}

/* media query to add a breakpoint at 768px:*/
@media only screen and (max-width: 768px) {
  /* Layout */
  .container {
    flex-direction: column;
  }

  .left-sidebar {
    width: 100%;
  }

  .content-area {
    width: 100%;
  }

  h1 {
    font-size: 0.9cm;
    margin: 0;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  .big-screen-name {
    display: none;
  }

  .mobile-name {
    display: block;
  }
}
